# Python virtual environment
.venv/
venv/

# Environment files
.env
*.env

# Python cache
__pycache__/
*.py[cod]

# Build files
build/
dist/
*.spec

# Logs
*.log
logs/

# Local laboratory data
data/
tmp/

# IDE
.vscode/
.idea/
